html, body{
height: 100%;
width: 100%;
margin: 0%;
padding: 0%;
}
.header{
	background-color: yellow;
	border-style:5px solid orange;
	border-width: 10px;
	position: fixed;
	height: 120px;
	width: 100%;

}
.header img{
	float: left;
	margin: 5px;
	border-radius: 7%;
	height: 100px;
	width: 100px;

}
.main{
	height: 100%;
	width: 100%;
	margin: 10%;
}
.main .right{
	float: right;
	height: 100%;
	width: 70%;
}

.one{
	background-color:red;
	float: top;
	height: 540px;
	width: 100%;

}
.two{
	background-color: pink;
	float: bottom;
	height: 300px;
	width: 100%;
}
.left{
	float: left;
	height: 100%;
	width: 30%;
}
.three{
	background-color:purple;
	height: 280px;
	width: 100%;


}
.four{
	background-color: blue;
	height: 280px;
	width: 100%
}
.five{
	background-color: green;
	height: 280px;
	width: 100%;
}
.footer{
	background-color: gray;
	height: 40px;
	width: 100%;
	position: fixed;
}